Checks:
  clang-analyzer-*
  -clang-analyzer-cplusplus.PlacementNew
  misc-*
  -misc-no-recursion
  -misc-unused-parameters
  -misc-non-private-member-variables-in-classes
  modernize-*
  -modernize-use-trailing-return-type
  performance-*
  -performance-no-int-to-ptr
  readability-*
  -readability-magic-numbers
  -readability-identifier-length
  -readability-implicit-bool-conversion
  -readability-function-cognitive-complexity
  -readability-named-parameter
  -readability-suspicious-call-argument

WarningsAsErrors:
  '*'

CheckOptions:
  - key: 'misc-const-correctness.AnalyzeValues'
    value: false
