Checks:
  clang-analyzer-*
  -clang-analyzer-cplusplus.PlacementNew
  misc-*
  -misc-no-recursion
  -misc-unused-parameters
  -misc-non-private-member-variables-in-classes
  modernize-*
  -modernize-use-trailing-return-type
  performance-*
  -performance-no-int-to-ptr
  bugprone-*
  -bugprone-easily-swappable-parameters
  -bugprone-narrowing-conversions
  -bugprone-exception-escape
  -bugprone-unused-return-value
  -bugprone-assignment-in-if-condition
  -bugprone-branch-clone
  -bugprone-sizeof-expression
  -bugprone-implicit-widening-of-multiplication-result

WarningsAsErrors:
  '*'

CheckOptions:
  - key: 'misc-const-correctness.AnalyzeValues'
    value: false
