Checks:
  clang-analyzer-*
  -clang-analyzer-cplusplus.PlacementNew
  misc-*
  -misc-no-recursion
  -misc-unused-parameters
  -misc-non-private-member-variables-in-classes

WarningsAsErrors:
  '*'

CheckOptions:
  - key: 'misc-const-correctness.AnalyzeValues'
    value: false
