[submodule "deps/immer"]
	path = deps/immer
	url = https://github.com/runtimeverification/immer.git
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "deps/pybind11"]
	path = deps/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
