# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
a.out
*.app

# Vim stuff
*.swp

# Build directory
build/
bin/llvm-kompile-matching

# Rust stuff
Cargo.lock
target/
rustc-1.33.0-src/

# Haskell tags
TAGS
