name: Code Checks
on: [push, pull_request]
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check that C and C++ code is correctly formatted
      uses: jidicula/clang-format-action@v4.0.0
      with:
        exclude-regex: '(build|config|deps)'

  shell-check:
    name: Shell check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ludeeus/action-shellcheck@1.1.0
      name: Check that shell scripts follow best practices
      with:
        scandir: './bin'
