name: clang-format Check
on: [push, pull_request]
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check that C and C++ code is correctly formatted
      uses: jidicula/clang-format-action@v4.0.0
      with:
        clang-format-version: '12'
        exclude-regex: '(build|config|deps|base64)'
