name: "Test"
on:
  pull_request:
  push:
  workflow_dispatch:
jobs:
  tests:
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            os: ubuntu-latest
          - runner: macos-latest
            os: macos-12
          - runner: MacM1
            os: self-macos-12
    runs-on: ${{ matrix.runner }}
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: 'Upgrade bash'
      if: ${{ contains(matrix.os, 'macos') }}
      run: brew install bash

    # Do the Following only on Public Runners; Mac Runner is pre-installed with build tools 
    - name: 'Install Nix'
      if: ${{ !startsWith(matrix.os, 'self') }}
      uses: cachix/install-nix-action@v15
      with:
        install_url: "https://releases.nixos.org/nix/nix-2.3.16/install"
    - name: 'Install Cachix'
      if: ${{ !startsWith(matrix.os, 'self') }}
      uses: cachix/cachix-action@v10
      with:
        name: runtimeverification
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

    - run: nix-build -A llvm-backend
    - run: nix-build -A llvm-backend --arg release true
      if: ${{ !startsWith(matrix.os, 'macos') }}
    - run: nix-build -A llvm-backend-matching
    - run: nix-shell --run "echo OK"
    - run: nix-build test.nix
