name: 'Update'
on:
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Update the pinned Maven dependencies for Nix.
  # This job only runs on push events because we cannot push changes back to a
  # pull request branch from a fork.
  nix-maven:
    name: 'Nix: Maven'
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      packages: write
    steps:
      - name: 'Check out code'
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.JENKINS_GITHUB_PAT }}
          submodules: recursive
      - run: |
          git config --global user.name rv-jenkins
          git config --global user.email devops@runtimeverification.com

      - name: 'Install Nix'
        uses: cachix/install-nix-action@v19
        with:
          install_url: https://releases.nixos.org/nix/nix-2.13.3/install
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: 'Install Cachix'
        uses: cachix/cachix-action@v12
        with:
          name: k-framework
          authToken: '${{ secrets.CACHIX_PUBLIC_TOKEN }}'

      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          overwrite-settings: true
          java-version: '11'
        
      - name: 'Update Maven dependencies'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -x
          cat ~/.m2/settings.xml
          
          if ! git diff --exit-code origin/${GITHUB_BASE_REF} origin/${GITHUB_HEAD_REF} \
                -- $(find . -name pom.xml)                                              \
                   $(find nix -name '*.nix'); then
            ./nix/update-maven.sh
          fi
          if git add nix/ && git commit -m 'Update Maven dependencies'; then
            git push --force origin HEAD:${{ github.head_ref }}
          fi
